#  Traitements des données du geipan

## 1/ Données cas_pub

In [1]:
## imports
import os
import re
import sys
import numpy as np
import pandas as pd

#### Import  dataset

In [2]:
df_cas = pd.read_csv('cas_pub.csv', sep =';', encoding='iso-8859-1')
df_cas.head()

,id_cas,cas_nom_dossier,cas_zone_nom,cas_zone_code,cas_zone_type,cas_AAAA,cas_MM,cas_JJ,cas_resume,cas_resume_web,...,cas_fiabilite_err,cas_fiabilite_calc,cas_qte_information,cas_qte_information_calc,cas_consistance,cas_consistance_calc,cas_consistance_calc_err,cas_classification,cas_classification_calc,cas_numEtude
0,2,MARIGOT (LE) (972) 1937,Martinique,972,(D) Département,1937,,,Témoignage récent (11/09/1979) d'une observati...,Observation du déplacement d'un globe éclairé ...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1937-01-01656
1,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,NaN,0 78,0 23,D1,D1,1951-06-00002
2,4,BIARRITZ (64) 08 1951,Pyrénées-Atlantiques,64,(D) Département,1951,8,,Témoignage récent (20/03/1975) d'une observati...,OBSERVATION DU DÉPLACEMENT SILENCIEUX AVEC CHA...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1951-08-00003
3,5,PORT-GENTIL (GA 8) 01 06 1952,Ardennes,8,(D) Département,1952,6,1,"Le 1er juin 1952 à 2h40 du matin, deux personn...",Observations du passage d'un phénomène lumineu...,...,NaN,NaN,NaN,NaN,NaN,0 78,0 23,D1,D1,1952-06-00004
4,6,CRECY-EN-PONTHIEU (80) 21 09 1952,Somme,80,(D) Département,1952,9,21,Témoignage récent (21/11/2010) d'une observati...,Observation d'un engin circulaire de couleur g...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1952-09-08193

In [3]:
df_temoignages = pd.read_csv('temoignages_pub.csv', sep =';', encoding='iso-8859-1',low_memory=False)
df_temoignages.head()

,id_cas,cas_numEtude,id_temoignage,tem_new,tem_chrono,obs_chrono,tem_nom_dossier,tem_title_nickname,tem_title_type,tem_resume,...,obs_deg_parcouru,obs_nb_PAN,obs_nb_PAN_lib,obs_formation,obs_formation_type,obs_caracteristiques,obs_continuite,obs_continuite_type,obs_PAN_calculs,obs_envt_equipements_actifs
0,2,1937-01-01656,31,0,NaN,1937 01 01,MARIGOT (LE) (972) 1937,NaN,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,Observation en continu,NaN,NaN
1,3,1951-06-00002,32,0,NaN,1951 06 01,[AERO MIL] ORANGE (84) 15 06 1951 T1,NaN,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1951-06-00002,33,0,NaN,1951 06 02,[AERO MIL] ORANGE (84) 15 06 1951 T2,NaN,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1951-08-00003,34,0,NaN,1951 08 01,BIARRITZ (64) 08 1951,NaN,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,Observation en continu,NaN,NaN
4,5,1952-06-00004,35,0,NaN,1952 06 01,PORT-GENTIL (GA 8) 01 06 1952,NaN,NaN,NaN,...,NaN,1.0,Un seul,NaN,NaN,NaN,NaN,Observation en continu,NaN,NaN

#### Traitement des données nulles

In [4]:
## pourcentage de valeurs nulles pour chaque colonne
NULL = 100 * (df_cas.shape[0] - df_cas.describe().T['count']) / df_cas.shape[0];
NULL

id_cas                        0.000000
cas_temoignages_nb           25.867052
cas_temoins_nb               93.713873
cas_temoins_nb_approx       100.000000
cas_nb_PAN                   94.869942
cas_nb_PAN_approx           100.000000
cas_MinCercleInscrit_Lat    100.000000
cas_MinCercleInscrit_Lng    100.000000
cas_MinCercleInscrit_Err    100.000000
cas_etrangete_err           100.000000
cas_fiabilite_err           100.000000
Name: count, dtype: float64

In [5]:
## pourcentage de valeurs nulles pour chaque colonne
NULL = 100 * (df_temoignages.shape[0] - df_temoignages.describe().T['count']) / df_temoignages.shape[0];
NULL

id_cas                          0.000000
id_temoignage                   0.000000
tem_new                         0.000000
tem_Gi                         80.507842
tem_Ti                          3.360717
tem_TComi                      45.313667
tem_adr_CP                     59.671397
tem_xp_aero_niveau             99.645258
tem_xp_astro_niveau            99.719940
tem_xp_topo_niveau             99.719940
tem_xp_UFO_niveau              99.626587
tem_photos_retouchees         100.000000
tem_plans                     100.000000
tem_croquis                   100.000000
tem_GD                          6.777446
tem_A                          98.879761
tem_PVi                        15.795370
tem_numSEPRA                    0.000000
id_temoignage_old              74.215833
id_observation                  0.000000
obs_nb                          0.000000
obs_commune_or_trajet           0.000000
obs_tem_dep                    99.122479
obs_MM                          0.429425
obs_heure_deb                 100.000000
obs_heure_fin                 100.000000
obs_heure_delta                 0.000000
obs_heure_tranche_horaire     100.000000
obs_heure_approx               99.495892
obs_1_adr_CP                    0.728155
obs_1_adr_CP_2                 96.751307
obs_1_alt                      49.253174
obs_conditions_apparition      21.769978
obs_conditions_emotions       100.000000
obs_2_alt                     100.000000
obs_2_PAN_altitude            100.000000
obs_2_distance_abs            100.000000
obs_3_adr_bat                 100.000000
obs_3_adr_num_voie             99.981329
obs_3_adr_type_voie           100.000000
obs_3_adr_CP                   97.890217
obs_3_adr_pays                100.000000
obs_3_alt                      99.943988
obs_conditions_disparition     24.626587
obs_3_distance_abs            100.000000
obs_3_PAN_altitude            100.000000
obs_nb_PAN                     34.596714
obs_formation                 100.000000
obs_formation_type            100.000000
obs_PAN_calculs               100.000000
Name: count, dtype: float64

In [6]:
# suppresion des colonnes inutiles
df_cas.drop(["cas_temoins_nb_approx", "cas_nb_PAN", "cas_nb_PAN_approx", "cas_MinCercleInscrit_Lat", "cas_MinCercleInscrit_Lng", "cas_MinCercleInscrit_Err", "cas_etrangete_err", "cas_fiabilite_err"], axis = 1, inplace = True) 
# display 
df_cas

,id_cas,cas_nom_dossier,cas_zone_nom,cas_zone_code,cas_zone_type,cas_AAAA,cas_MM,cas_JJ,cas_resume,cas_resume_web,...,cas_fiabilite,cas_fiabilite_calc,cas_qte_information,cas_qte_information_calc,cas_consistance,cas_consistance_calc,cas_consistance_calc_err,cas_classification,cas_classification_calc,cas_numEtude
0,2,MARIGOT (LE) (972) 1937,Martinique,972,(D) Département,1937,,,Témoignage récent (11/09/1979) d'une observati...,Observation du déplacement d'un globe éclairé ...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1937-01-01656
1,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,NaN,0 78,0 23,D1,D1,1951-06-00002
2,4,BIARRITZ (64) 08 1951,Pyrénées-Atlantiques,64,(D) Département,1951,8,,Témoignage récent (20/03/1975) d'une observati...,OBSERVATION DU DÉPLACEMENT SILENCIEUX AVEC CHA...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1951-08-00003
3,5,PORT-GENTIL (GA 8) 01 06 1952,Ardennes,8,(D) Département,1952,6,1,"Le 1er juin 1952 à 2h40 du matin, deux personn...",Observations du passage d'un phénomène lumineu...,...,NaN,NaN,NaN,NaN,NaN,0 78,0 23,D1,D1,1952-06-00004
4,6,CRECY-EN-PONTHIEU (80) 21 09 1952,Somme,80,(D) Département,1952,9,21,Témoignage récent (21/11/2010) d'une observati...,Observation d'un engin circulaire de couleur g...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1952-09-08193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,4783,PIGNAN (34) 07 07 2018,Hérault,34,(D) Département,2018,7,7,"Le 07 juillet 2018 vers 22h45 un témoin, dans ...",Observation du passage silencieux Nord-Sud d'u...,...,NaN,0 70,NaN,0 60,NaN,0 45,0 00,B,B,2018-07-50605
2764,4799,MARSEILLE (13) 07 08 2018,Bouches-du-Rhône,13,(D) Département,2018,8,7,Dans la nuit du 06 au 07 août 2018 vers 01h12 ...,Observation à l'il nu puis aux jumelles d'un p...,...,NaN,0 70,NaN,0 80,NaN,0 60,0 00,A,A,2018-08-50619
2765,4840,FOA (LA) (988) 05 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,5,Le GEIPAN continue à publier l'ensemble de ses...,Très longues observations (2 heures) par deux ...,...,NaN,0 70,NaN,0 70,NaN,0 50,0 00,A,A,1984-03-50655
2766,4842,FOA (LA) (988) 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,,Le GEIPAN continue à publier l'ensemble de ses...,Observation à trois reprises d'une large bande...,...,NaN,0 50,NaN,0 40,NaN,0 20,0 00,C,C,1984-03-50657
2767,4851,MARTIGUES (13) 02 12 2018,Bouches-du-Rhône,13,(D) Département,2018,12,2,Le dimanche 02 décembre 2018 aux alentours de ...,Observation par un automobiliste de la présenc...,...,NaN,0 70,NaN,0 70,NaN,0 50,0 00,B,B,2018-12-50667

In [7]:
# suppresion des colonnes inutiles
df_temoignages.drop(["tem_xp_aero_niveau", "tem_xp_topo_niveau", "tem_xp_UFO_niveau", "tem_photos_retouchees", "tem_plans", "tem_croquis", "obs_tem_dep", "obs_heure_deb",
 "obs_heure_fin", "obs_heure_tranche_horaire", "obs_heure_approx", "obs_conditions_emotions", "obs_2_alt", "obs_2_PAN_altitude", "obs_2_distance_abs", "obs_3_adr_bat", 
"obs_3_adr_num_voie", "obs_3_adr_type_voie", "obs_3_adr_pays", "obs_3_alt", "obs_3_distance_abs" , "obs_3_PAN_altitude", "obs_formation", "obs_formation_type", "obs_PAN_calculs"], axis = 1, inplace = True) 
# display 
df_temoignages

,id_cas,cas_numEtude,id_temoignage,tem_new,tem_chrono,obs_chrono,tem_nom_dossier,tem_title_nickname,tem_title_type,tem_resume,...,obs_3_PAN_pos_approx,obs_incli,obs_incli_lib,obs_deg_parcouru,obs_nb_PAN,obs_nb_PAN_lib,obs_caracteristiques,obs_continuite,obs_continuite_type,obs_envt_equipements_actifs
0,2,1937-01-01656,31,0,NaN,1937 01 01,MARIGOT (LE) (972) 1937,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
1,3,1951-06-00002,32,0,NaN,1951 06 01,[AERO MIL] ORANGE (84) 15 06 1951 T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
2,3,1951-06-00002,33,0,NaN,1951 06 02,[AERO MIL] ORANGE (84) 15 06 1951 T2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
3,4,1951-08-00003,34,0,NaN,1951 08 01,BIARRITZ (64) 08 1951,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
4,5,1952-06-00004,35,0,NaN,1952 06 01,PORT-GENTIL (GA 8) 01 06 1952,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351,4841,1984-03-50656,4163,0,NaN,1984 03 04,FOA (LA) (988) 02 03 1984 T1,NaN,NaN,Domicilié au quartier Méaré le témoin voit dep...,...,NaN,NaN,NaN,NP,1.0,1,NaN,NaN,Observation en continu,NP
5352,4841,1984-03-50656,4164,0,NaN,1984 03 05,FOA (LA) (988) 02 03 1984 T2,NaN,NaN,vu apparaître une boule de feu dans le ciel a...,...,NaN,NaN,NaN,NP,1.0,1,NaN,NaN,Observation en continu,NP
5353,4842,1984-03-50657,4165,0,NaN,1984 03 06,FOA (LA) (988) 03 1984 T1,NaN,NaN,Devant son domicile à LA FOA il voit dans le c...,...,NaN,NaN,NaN,NP,NaN,1 (vu à trois reprises),NaN,NaN,Observation en continu,NP
5354,4842,1984-03-50657,4166,0,NaN,1984 03 07,FOA (LA) (988) 03 1984 Ti2,NaN,NaN,Prévenu le lendemain par son voisin qui habite...,...,NaN,NaN,NaN,NP,NaN,NP,NaN,NaN,Non précisé,NP
5355,4851,2018-12-50667,9580,0,2018 12 01,NaN,MARTIGUES (13) 02 12 2018,NaN,NaN,Le témoin circule au volant de sa voiture sur ...,...,NaN,NaN,NaN,STATIQUE puis Oblique et prise d'altitude pour...,2.0,2 Objets bien distincts l'un des deux était él...,NaN,A la découverte du phénomène je conduisais,Observation discontinue,Dans un premier temps au volant donc phare pas...

In [13]:
df_cas.columns

Index(['id_cas', 'cas_nom_dossier', 'cas_zone_nom', 'cas_zone_code',
       'cas_zone_type', 'cas_AAAA', 'cas_MM', 'cas_JJ', 'cas_resume',
       'cas_resume_web', 'cas_public', 'cas_temoignages_nb', 'cas_temoins_nb',
       'cas_date_maj', 'cas_etrangete', 'cas_etrangete_calc',
       'cas_etrangete_calc_err', 'cas_fiabilite', 'cas_fiabilite_calc',
       'cas_qte_information', 'cas_qte_information_calc', 'cas_consistance',
       'cas_consistance_calc', 'cas_consistance_calc_err',
       'cas_classification', 'cas_classification_calc', 'cas_numEtude'],
      dtype='object')

In [14]:
pd.DataFrame(df_cas, columns=df_cas.columns).to_csv('df_cas_traitee.csv')     
df_cas

,id_cas,cas_nom_dossier,cas_zone_nom,cas_zone_code,cas_zone_type,cas_AAAA,cas_MM,cas_JJ,cas_resume,cas_resume_web,...,cas_fiabilite,cas_fiabilite_calc,cas_qte_information,cas_qte_information_calc,cas_consistance,cas_consistance_calc,cas_consistance_calc_err,cas_classification,cas_classification_calc,cas_numEtude
0,2,MARIGOT (LE) (972) 1937,Martinique,972,(D) Département,1937,,,Témoignage récent (11/09/1979) d'une observati...,Observation du déplacement d'un globe éclairé ...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1937-01-01656
1,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,NaN,0 78,0 23,D1,D1,1951-06-00002
2,4,BIARRITZ (64) 08 1951,Pyrénées-Atlantiques,64,(D) Département,1951,8,,Témoignage récent (20/03/1975) d'une observati...,OBSERVATION DU DÉPLACEMENT SILENCIEUX AVEC CHA...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1951-08-00003
3,5,PORT-GENTIL (GA 8) 01 06 1952,Ardennes,8,(D) Département,1952,6,1,"Le 1er juin 1952 à 2h40 du matin, deux personn...",Observations du passage d'un phénomène lumineu...,...,NaN,NaN,NaN,NaN,NaN,0 78,0 23,D1,D1,1952-06-00004
4,6,CRECY-EN-PONTHIEU (80) 21 09 1952,Somme,80,(D) Département,1952,9,21,Témoignage récent (21/11/2010) d'une observati...,Observation d'un engin circulaire de couleur g...,...,NaN,NaN,NaN,NaN,NaN,0 28,0 28,C,C,1952-09-08193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2763,4783,PIGNAN (34) 07 07 2018,Hérault,34,(D) Département,2018,7,7,"Le 07 juillet 2018 vers 22h45 un témoin, dans ...",Observation du passage silencieux Nord-Sud d'u...,...,NaN,0 70,NaN,0 60,NaN,0 45,0 00,B,B,2018-07-50605
2764,4799,MARSEILLE (13) 07 08 2018,Bouches-du-Rhône,13,(D) Département,2018,8,7,Dans la nuit du 06 au 07 août 2018 vers 01h12 ...,Observation à l'il nu puis aux jumelles d'un p...,...,NaN,0 70,NaN,0 80,NaN,0 60,0 00,A,A,2018-08-50619
2765,4840,FOA (LA) (988) 05 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,5,Le GEIPAN continue à publier l'ensemble de ses...,Très longues observations (2 heures) par deux ...,...,NaN,0 70,NaN,0 70,NaN,0 50,0 00,A,A,1984-03-50655
2766,4842,FOA (LA) (988) 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,,Le GEIPAN continue à publier l'ensemble de ses...,Observation à trois reprises d'une large bande...,...,NaN,0 50,NaN,0 40,NaN,0 20,0 00,C,C,1984-03-50657
2767,4851,MARTIGUES (13) 02 12 2018,Bouches-du-Rhône,13,(D) Département,2018,12,2,Le dimanche 02 décembre 2018 aux alentours de ...,Observation par un automobiliste de la présenc...,...,NaN,0 70,NaN,0 70,NaN,0 50,0 00,B,B,2018-12-50667

In [15]:
df_temoignages.columns

Index(['id_cas', 'cas_numEtude', 'id_temoignage', 'tem_new', 'tem_chrono',
       'obs_chrono', 'tem_nom_dossier', 'tem_title_nickname', 'tem_title_type',
       'tem_resume',
       ...
       'obs_3_PAN_pos_approx', 'obs_incli', 'obs_incli_lib',
       'obs_deg_parcouru', 'obs_nb_PAN', 'obs_nb_PAN_lib',
       'obs_caracteristiques', 'obs_continuite', 'obs_continuite_type',
       'obs_envt_equipements_actifs'],
      dtype='object', length=238)

In [16]:
pd.DataFrame(df_temoignages, columns=df_temoignages.columns).to_csv('df_temoignages_traitee.csv')     
df_temoignages

,id_cas,cas_numEtude,id_temoignage,tem_new,tem_chrono,obs_chrono,tem_nom_dossier,tem_title_nickname,tem_title_type,tem_resume,...,obs_3_PAN_pos_approx,obs_incli,obs_incli_lib,obs_deg_parcouru,obs_nb_PAN,obs_nb_PAN_lib,obs_caracteristiques,obs_continuite,obs_continuite_type,obs_envt_equipements_actifs
0,2,1937-01-01656,31,0,NaN,1937 01 01,MARIGOT (LE) (972) 1937,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
1,3,1951-06-00002,32,0,NaN,1951 06 01,[AERO MIL] ORANGE (84) 15 06 1951 T1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
2,3,1951-06-00002,33,0,NaN,1951 06 02,[AERO MIL] ORANGE (84) 15 06 1951 T2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
3,4,1951-08-00003,34,0,NaN,1951 08 01,BIARRITZ (64) 08 1951,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
4,5,1952-06-00004,35,0,NaN,1952 06 01,PORT-GENTIL (GA 8) 01 06 1952,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351,4841,1984-03-50656,4163,0,NaN,1984 03 04,FOA (LA) (988) 02 03 1984 T1,NaN,NaN,Domicilié au quartier Méaré le témoin voit dep...,...,NaN,NaN,NaN,NP,1.0,1,NaN,NaN,Observation en continu,NP
5352,4841,1984-03-50656,4164,0,NaN,1984 03 05,FOA (LA) (988) 02 03 1984 T2,NaN,NaN,vu apparaître une boule de feu dans le ciel a...,...,NaN,NaN,NaN,NP,1.0,1,NaN,NaN,Observation en continu,NP
5353,4842,1984-03-50657,4165,0,NaN,1984 03 06,FOA (LA) (988) 03 1984 T1,NaN,NaN,Devant son domicile à LA FOA il voit dans le c...,...,NaN,NaN,NaN,NP,NaN,1 (vu à trois reprises),NaN,NaN,Observation en continu,NP
5354,4842,1984-03-50657,4166,0,NaN,1984 03 07,FOA (LA) (988) 03 1984 Ti2,NaN,NaN,Prévenu le lendemain par son voisin qui habite...,...,NaN,NaN,NaN,NP,NaN,NP,NaN,NaN,Non précisé,NP
5355,4851,2018-12-50667,9580,0,2018 12 01,NaN,MARTIGUES (13) 02 12 2018,NaN,NaN,Le témoin circule au volant de sa voiture sur ...,...,NaN,NaN,NaN,STATIQUE puis Oblique et prise d'altitude pour...,2.0,2 Objets bien distincts l'un des deux était él...,NaN,A la découverte du phénomène je conduisais,Observation discontinue,Dans un premier temps au volant donc phare pas...

In [17]:
df = df_cas.merge(df_temoignages)
df.head()

,id_cas,cas_nom_dossier,cas_zone_nom,cas_zone_code,cas_zone_type,cas_AAAA,cas_MM,cas_JJ,cas_resume,cas_resume_web,...,obs_3_PAN_pos_approx,obs_incli,obs_incli_lib,obs_deg_parcouru,obs_nb_PAN,obs_nb_PAN_lib,obs_caracteristiques,obs_continuite,obs_continuite_type,obs_envt_equipements_actifs
0,2,MARIGOT (LE) (972) 1937,Martinique,972,(D) Département,1937,,,Témoignage récent (11/09/1979) d'une observati...,Observation du déplacement d'un globe éclairé ...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
1,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
2,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
3,4,BIARRITZ (64) 08 1951,Pyrénées-Atlantiques,64,(D) Département,1951,8,,Témoignage récent (20/03/1975) d'une observati...,OBSERVATION DU DÉPLACEMENT SILENCIEUX AVEC CHA...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
4,5,PORT-GENTIL (GA 8) 01 06 1952,Ardennes,8,(D) Département,1952,6,1,"Le 1er juin 1952 à 2h40 du matin, deux personn...",Observations du passage d'un phénomène lumineu...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN

In [18]:
pd.DataFrame(df, columns=df.columns).to_csv('geipanDataTraitees.csv')     
df

,id_cas,cas_nom_dossier,cas_zone_nom,cas_zone_code,cas_zone_type,cas_AAAA,cas_MM,cas_JJ,cas_resume,cas_resume_web,...,obs_3_PAN_pos_approx,obs_incli,obs_incli_lib,obs_deg_parcouru,obs_nb_PAN,obs_nb_PAN_lib,obs_caracteristiques,obs_continuite,obs_continuite_type,obs_envt_equipements_actifs
0,2,MARIGOT (LE) (972) 1937,Martinique,972,(D) Département,1937,,,Témoignage récent (11/09/1979) d'une observati...,Observation du déplacement d'un globe éclairé ...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
1,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
2,3,[AERO MIL] ORANGE (84) 15 06 1951,Vaucluse,84,(D) Département,1951,6,15,Le 15 juin 1951 à 11h30 deux pilotes décollent...,Observations par deux pilotes en vol d'un phén...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,NaN,NaN
3,4,BIARRITZ (64) 08 1951,Pyrénées-Atlantiques,64,(D) Département,1951,8,,Témoignage récent (20/03/1975) d'une observati...,OBSERVATION DU DÉPLACEMENT SILENCIEUX AVEC CHA...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
4,5,PORT-GENTIL (GA 8) 01 06 1952,Ardennes,8,(D) Département,1952,6,1,"Le 1er juin 1952 à 2h40 du matin, deux personn...",Observations du passage d'un phénomène lumineu...,...,NaN,NaN,NaN,NaN,1.0,Un seul,NaN,NaN,Observation en continu,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5351,4840,FOA (LA) (988) 05 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,5,Le GEIPAN continue à publier l'ensemble de ses...,Très longues observations (2 heures) par deux ...,...,NaN,NaN,NaN,NP,1.0,1,NaN,NaN,Observation en continu,NP
5352,4840,FOA (LA) (988) 05 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,5,Le GEIPAN continue à publier l'ensemble de ses...,Très longues observations (2 heures) par deux ...,...,NaN,NaN,NaN,NP,1.0,1,NaN,NaN,Observation en continu,NP
5353,4842,FOA (LA) (988) 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,,Le GEIPAN continue à publier l'ensemble de ses...,Observation à trois reprises d'une large bande...,...,NaN,NaN,NaN,NP,NaN,1 (vu à trois reprises),NaN,NaN,Observation en continu,NP
5354,4842,FOA (LA) (988) 03 1984,Nouvelle-Calédonie,988,(D) Département,1984,3,,Le GEIPAN continue à publier l'ensemble de ses...,Observation à trois reprises d'une large bande...,...,NaN,NaN,NaN,NP,NaN,NP,NaN,NaN,Non précisé,NP
5355,4851,MARTIGUES (13) 02 12 2018,Bouches-du-Rhône,13,(D) Département,2018,12,2,Le dimanche 02 décembre 2018 aux alentours de ...,Observation par un automobiliste de la présenc...,...,NaN,NaN,NaN,STATIQUE puis Oblique et prise d'altitude pour...,2.0,2 Objets bien distincts l'un des deux était él...,NaN,A la découverte du phénomène je conduisais,Observation discontinue,Dans un premier temps au volant donc phare pas...